header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border: 1px solid gray;
}

header img {
    padding: 10px
}

header ul {
    display: flex;
    padding: 0 10px;
    list-style: none;
    margin: 0;


}

header ul li {

    padding: 10px 0;
    border-left: 1px solid white;
    border-right: 1px solid white;

}

header ul li:not(:last-child) {


    border-right: 0px solid white;

}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color: white
}

main {}

main h1 {}

main p {}

footer {}

footer ul {}

footer ul li {}

footer ul li a {}
